<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    
    <form action="">

        <input type="text" placeholder="name"> <br><br>
        <input type="number" placeholder="price"> <br><br>
        <input type="text" placeholder="category"> <br><br>
        <input type="number" placeholder="quantity"> <br><br>
        <textarea name="" id="" placeholder="description" cols="30" rows="10"></textarea> <br><br>
        <button type="submit">create new product</button>
    </form>
    
</body>
</html>